* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  width: 100%;
  height: 70px;
  color: white;
  justify-content: space-between;
}

.header h1 {
  align-self: center;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.trybewarts-login input {
  margin: 0 10px 0 0;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.align-content {
  margin-bottom: 50px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
  margin: 100px 50px;
}

#family {
  display: flex;
  flex-direction: column;
}

.radio {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.radio input {
  margin-top: 10px;
}

.tech-family {
  display: flex;
  justify-content: space-between;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 200px;
}

.checkbox input {
  margin-top: 20px;
}
