@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;800&display=swap');

html, body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Inknut Antiqua', serif;
  background: #E5E5E5;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-header-logo {
  width: 70px;
  margin-left: 10px;
}

.trybewarts-login {
  display: flex;
  padding: 10px;
  margin-right: 5px;
}

.trybewarts-login input {
  width: 150px;
  margin-right: 3px;
}

#btn-entrar{
  background: #4E148C;
  color: white;
  width: 150px;
  font-family: 'Inknut Antiqua', serif;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  justify-self: center;
  align-items: center;
  width: 100rem;
  color: black;
  font-weight: 500;
}

.form-section {
  min-width: 49rem;
  display: flex;
  flex-direction: column;
}

#title {
  text-align: center;
  margin-top: 5px;
}

#trybewarts-forms-logo {
  height: 500px;
  margin-left: 100px;
}

#personal-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: solid 1px black;
  padding: 10px;
}

#full-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#personal-data input {
  margin: 5px;
  border: white;
}

#email-house {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.control {
  display: flex;
  align-items: center;
}

#email-house select {
  margin: 5px;
  width: 22.3rem;
  border: white;
}

.tech-family {
  border-bottom: 1px solid black;
  height: 200px;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

#family {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#tech {
  line-height: 32px;
  margin-top: 22px;
  flex-wrap: wrap;
}

.checkbox {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.checkbox div label {
  margin-top: 18px;
  margin-bottom: px;
  margin-right: 25px;
}

#rate-radios {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.textarea ::selection{
  border: #4E148C;
}

#comment {
  display: flex;
  flex-direction: column;
}

#agreement {
  margin-left: 10px;
  margin-bottom: 10px;
}


#submit-btn {
  background: #4E148C;
  color: white;
  font-family: 'Inknut Antiqua', serif;
}

#counter {
  width: fit-content;
  align-self: flex-end;
}

#textarea {
  resize: none;
}

.footer {
  color: white;
  text-align: center;
  padding: 5px;
  background: #2B2D42;
  height: 40px;
}

.title-with-data {
  color: blue;
}